################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/InternetMarket/.vs/InternetMarket/v15/Server/sqlite3/db.lock
