[*.cs]

# CA1063: Правильно реализуйте IDisposable
dotnet_diagnostic.CA1063.severity = none

# CA1001: Типы, владеющие высвобождаемыми полями, должны быть высвобождаемыми
dotnet_diagnostic.CA1001.severity = none
